.checkbox {
	cursor: pointer;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	width: 100%;
	z-index: 100;
}
.choiceModal {
	display: none;
}
.curtain {
	height: 400px;
	overflow: hidden;
	padding: 0;
}
.curtain_wrapper {
	height: 100%;
	width: 100%;
}
.curtain_panel {
	float: left;
	height: 400px;
	position: relative;
	transition: all 1s ease-out;
	width: 50%;
	z-index: 2;
}
.curtain_panel-left {
	transform: translateX(-100%);
}
.curtain_panel-right {
	transform: translateX(100%);
}
.curtain_prize {
	background: #333;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
}
.dialogue {
	background: url(../images/dialogue_background.jpg) top center;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 10000px rgba(255, 255, 255, .5);
}
.explainer {
	display: none;
}
.gameChoice{
	display: none;
}
input[type=checkbox]:checked ~ div.curtain_panel-left {
  transform: translateX(0);
}
input[type=checkbox]:checked ~ div.curtain_panel-right {
  transform: translateX(0);
}
.jumbotron {
	background: url(../images/deal_set.jpg) top center;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 180, .5);
	color: white;
	height: 200px;
	margin: 0 auto;
}
.monty {
	height: 300px;
}
.offer {
	display: none;
}
.panel1{
	background: red;
}
.panel2{
	background: purple;
}
.panel3{
	background: green;
}
.prize {
	max-width: 100%;
}
.prizeShot {
	max-width: 100%;
}
.ranch{
	display: none;
}
.resultStatement {
	display: none;
}
.simResults{
	display: none;
}
.title {
	font-family: 'Fontdiner Swanky', cursive;
}
.trans-am {
	display: none;
}
.unclickable {
	pointer-events: none;
}